<header id="header">
  <div id="top">
    <img src="/pwa/icon.svg" alt="HAPPY BIRTHDAY icon" />
    <div id="txt-c">
      <a id="txt" href="https://youtu.be/dQw4w9WgXcQ">incoming fun facts</a>
    </div>
  </div>
  <nav id="bottom">
    <a href="/home.html">
      <button>Home</button>
    </a>
    <a href="/game.html">
      <button>THE GAME</button>
    </a>
    <a href="/troubleshooting.html">
      <button>Troubleshooting</button>
    </a>
    <a href="/about.html">
      <button>About</button>
    </a>
  </nav>
</header>