* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --margin: 3px;
  --header-top-h: 48px;
  --header-bottom-h: 30px;
  --header-h: calc(
    var(--header-top-h) 
  + var(--header-bottom-h)
  );
  --w: 100%;
  --h: 100%;
}

body {
  width: var(--w);
  margin: calc(var(--margin) * 2);
  font-family: Arial;
  -webkit-tap-highlight-color: rgba(200, 225, 255, 0.9);
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--margin) * 4);
  height: var(--header-h);
  margin: auto;
  border: 2px solid black;
  background-color: white;
  box-sizing: content-box;
  z-index: 1;
}

#header > #top {
  height: var(--header-top-h);
  display: flex;
}

#header > #bottom {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: var(--header-bottom-h);
}

#header > #bottom a {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header > #bottom a > button {
  height: 100%;
  width: 100%;
  border-radius: none;
  color: black;
  border: 2px outset gray;
}

#header > #bottom a > button:active {
  border-style: inset;
}

#header > * > * {height: 100%}

#header #txt-c  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #999999;
}

#header #txt-c #txt {
  text-transform: uppercase;
  font-size: max(0.7em, 1.25vw);
  text-align: center;
  width: 100%;
}

#navbar-spacer {height: var(--header-h)}

.hide {display: none}
